<div class="sidebar bg-light p-3">
  <h5 class="fw-bold text-primary mb-4">Painel</h5>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a *ngIf="isBrowser()" class="nav-link" [routerLink]="['/dashboard-admin']">Dashboard</a>
    </li>
    <li class="nav-item mb-2">
      <a *ngIf="isBrowser()" class="nav-link" [routerLink]="['/user-profile']">Pedidos</a>
    </li>
    <li class="nav-item mb-2">
      <a *ngIf="isBrowser()" class="nav-link" [routerLink]="['/appointment-user']">Marcações</a>
    </li>
    <li class="nav-item mb-2">
      <a *ngIf="isBrowser()" class="nav-link" [routerLink]="['/admin-panel']">Gestão</a>
    </li>
    <li class="nav-item mt-3">
      <a *ngIf="isBrowser()" class="btn btn-sm btn-outline-danger" [routerLink]="['/']">Sair</a>
    </li>
  </ul>
</div>
