.dashboard-container {
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  max-width: 960px;
  margin: auto;
}

.dashboard-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.search-bar {
  margin-bottom: 20px;
}
