<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-5">
  <a *ngIf="isBrowser()" class="navbar-brand fw-bold text-primary" (click)="scrollTo('home')">XPTO Clinic</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item px-2">
        <a *ngIf="isBrowser()" class="nav-link" (click)="scrollTo('home')">Início</a>
      </li>
      <li class="nav-item px-2">
        <a *ngIf="isBrowser()" class="nav-link" (click)="scrollTo('services')">Serviços</a>
      </li>
      <li class="nav-item px-2">
        <a *ngIf="isBrowser()" class="nav-link" routerLink="/appointment-user">Marcar Consulta</a>
      </li>
      <li class="nav-item px-2">
        <a *ngIf="isBrowser()" class="nav-link" routerLink="/user-profile">Meus Pedidos</a>
      </li>
      <li class="nav-item px-2">
        <a *ngIf="isBrowser()" class="btn btn-outline-danger btn-sm" (click)="logout()">Sair</a>
      </li>
    </ul>
  </div>
</nav>
